<p>
  <b>Nombre:</b>
  <%=h @unidad.nombre %>
</p>

<p>
  <b>Abreviatura:</b>
  <%=h @unidad.abreviatura %>
</p>


<%= link_to 'Edit', edit_unidad_path(@unidad) %> |
<%= link_to 'Back', unidades_path %>