<p>--------------</p>
<p>acordeon-stylo</p><br />
<p>tableclothjs </p><br />
<p>modal (tiene-error-con-atras) hasta ahora fancybox  despues calculadora</p><br />

<p> activar java - otimizar ubuntu  immrimir elegir server </p><br>


<p> descargar tempalte html5 </p><br />
<p> </p><br />

<p> reacomodar COLUMNAS :DIVISOR EN EL BUSCADOR</p><br />

<p> ARREGLAR RELACION PRODUCTO - COMPROBANTE E\S - DEPOSITO </p><br />

<p>MAS ADELANTE</p>
<p>pdf -</p>
<p>will_paginate_boostrap-</p>

