
<p>relacion 3 combos en new producto</p>
<p>--------------</p>
<p>relacion 3 combo filtros prodcutos </p>
<br />
<br />


<p>necesarios</p>
<p>--------------</p>
<p>armar menu ver si funciona en casa</p>
<br />
<br />

<p>--------------</p>
<p>boton cerrar</p><br />
<p></p><br />
<p></p><br />

<p>MAS ADELANTE</p>
<p>--------------</p>
<p>nuevo menu</p><br />


 <div class="dropdown">

  <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.google.com">Dropdown trigger<b class='caret'></b></a> 
 <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  <li><a href="http://www.google.com">Item</a> 
  	<li><a href="http://www.google.com">Item</a> 
  		<li><a href="http://www.google.com">Item</a> 
 
  </ul> 

</div>