<p>--------------</p>
<p>acordeon-stylo</p><br />
<p>tableclothjs </p><br />
<p>modal (tiene-error-con-atras) hasta ahora fancybox  despues calculadora</p><br />

<p> fuentes boostrap </p><br />
<p> phtosopot linux ---> iconos  redimencionar</p><br />
<p> activar java - otimizar ubuntu  immrimir elegir server </p><br>


<p> descargar tempalte html5 </p><br />
<p> </p><br />
<p> relacion marca *----- (1)rubro</p><br />
<p> reacomodar COLUMNAS : BUSCADOR DENTRO DE CONTECT</p><br />
<p> </p><br />
<p> lista de precios

<br />
---- prepara rrubros-categorias

<p> ARREGLAR RELACION PRODUCTO - COMPROBANTE E\S - DEPOSITO </p><br />

<p>MAS ADELANTE</p>
<p>pdf -</p>
<p>will_paginate_boostrap-</p>

