<p>
  <b>Menu:</b>
  <%=h @menus_rol.menu_id %>
</p>

<p>
  <b>Rol:</b>
  <%=h @menus_rol.rol_id %>
</p>


<%= link_to 'Edit', edit_menus_rol_path(@menu_rol) %> |
<%= link_to 'Back', menus_roles_path %>