<p>
  <b>Iva:</b>
  <%=h @parametro.iva %>
</p>

<p>
  <b>Descuento:</b>
  <%=h @parametro.descuento %>
</p>


<%= link_to 'Edit', edit_parametro_path(@parametro) %> |
<%= link_to 'Back', parametros_path %>