<div style="width: 400px; padding:0 0 50px 10px ">

	<div style="border-bottom: 3px solid #eee; padding: 10px" >
		<h4><%=h @localidad.nombre %></h4>
	</div>

<br />

<p>
  <b>Provincia:</b>
  <%=h @localidad.provincia.nombre %>
</p>

<br />



</div>