 label.error {
      color: red;
      font-style:italic;
      margin-left:6px

    }




input[type="text"] {
         height: 24px;
         font-size: 13px;
         line-height: 15px;
         border-radius: 1px;
    }

