 /* DEFINICIONES BROGER */

 /*  div{ border: 1px solid #d1cfcf; } */ 

 .link_azul{
     cursor: pointer;
     color:#3276b1;
 }

 .linkTitulo {
     color: white;
     text-decoration: none
 }

 .cuadro-scroll {
     padding-top:6px;
     width:100%;
     height:260px;
     background-color:white;
     overflow:auto;
 }

 .detalle_cruz{
       color:#d2322d;
       border-color:#d43f3a;
       font-size:18px; 
 }

  
 /* ADAPTACIONES AL BOOSTRAP */
 
 .form-control{
     display: inline-block;
     height: 30px;
     border-radius: 1px;
     font-size: 12px;
 }

 
 label.error {
      font-size: 11px;
      color: red;
      font-style:italic;
      margin-left:6px

 }


 input[type="text"] {
         height: 24px;
         font-size: 13px;
         line-height: 15px;
         border-radius: 1px;
 }


 .input-sm {
	height: 20px;
	padding: 5px 10px;
	font-size: 11px;
	line-height: 1,5;
	border-radius: 1px;
}


