 label.error {
      color: red;
      font-style:italic;
      margin-left:6px

    }

div{ 
	/* border: 1px solid #d1cfcf; */
  
}

input[type="text"] {
         height: 24px;
         font-size: 13px;
         line-height: 15px;
         border-radius: 1px;
    }

.cuadro-scroll {
     width:100%;
     height:275px;
     background-color:#F2F2F2;
     overflow:auto;
}

