<p>
  <b>Integer:</b>
  <%=h @marca_categoria.integer %>
</p>

<p>
  <b>Integer:</b>
  <%=h @marca_categoria.integer %>
</p>


<%= link_to 'Edit', edit_marca_categoria_path(@marca_categoria) %> |
<%= link_to 'Back', marca_categorias_path %>