<p>
  <b>Producto:</b>
  <%=h @producto_lista_precio.producto_id %>
</p>


<%= link_to 'Edit', edit_producto_lista_precio_path(@producto_lista_precio) %> |
<%= link_to 'Back', producto_lista_precio_path %>