<p>
  <b>Marca:</b>
  <%=h @marcas_rubro.marca_id %>
</p>

<p>
  <b>Rubro:</b>
  <%=h @marcas_rubro.rubro_id %>
</p>


<%= link_to 'Edit', edit_marcas_rubro_path(@marcas_rubro) %> |
<%= link_to 'Back', marcas_rubros_path %>