<div style="width: 400px; padding:0 0 50px 10px ">
<h4><%=h @categoria.nombre %></h4>
<hr />
<br />

<p>
  <b>Rubro:</b>
  <%=h @categoria.rubro.nombre %>
</p>

<p>
  <b>Secci&on:</b>
  <%=h @categoria.seccion.nombre %>
</p>


<br />
<br />



</div>